
@font-face {
  font-family: 'BoutrosMBCDinkum';
  src: local('BoutrosMBCDinkum'),
  url("#{$sourcefile}fonts/BoutrosMBCDinkum.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-style: normal;
}
